appdirs==1.4.4
asgiref==3.4.1
aiohttp==3.8.1
# av==8.0.3
backcall==0.2.0
certifi==2021.5.30
charset-normalizer==2.0.6
click==8.0.1
cycler==0.11.0
decorator==5.1.0
Deprecated==1.2.13
fastapi==0.68.1
# faster-than-requests==21.3.3
filelock==3.0.12
gdown==3.13.1
h11==0.12.0
httptools==0.2.0
idna==3.2
ipython
jedi==0.18.0
kiwisolver
line-profiler==3.3.0
Mako==1.1.5
MarkupSafe==2.0.1
# matplotlib
# matplotlib-inline
nimporter
numpy
nvidia-cublas-cu11
nvidia-cublas-cu115
nvidia-cuda-runtime-cu11
nvidia-cuda-runtime-cu115
nvidia-cudnn-cu11
nvidia-cudnn-cu114
nvidia-pyindex
nvidia-tensorrt
opencv-python
pandas
parso
pexpect
pickleshare
Pillow
prompt-toolkit
ptyprocess
pycuda
pydantic
Pygments
pyparsing
PySocks
python-dateutil
python-dotenv
python-multipart
pytools
pytz
PyYAML
redis
requests
rq
scipy
six
starlette
tqdm
traitlets
typing-extensions
urllib3
uvicorn
# uvloop==0.16.0
watchgod
wcwidth
websockets
wrapt
shapely
mean_average_precision
